$centro-blue-dark      : rgb( 34, 123, 150);
$centro-blue-light     : rgb( 54, 182, 221);

$centro-fuschia-dark   : rgb(166, 44, 113);
$centro-fuschia-light  : rgb(237, 103, 169);

$color-green           : rgb(134, 197, 122);
$color-red             : rgb(247, 101, 110);
$color-yellow          : rgb(249, 232, 194);

$color-gray-0          : rgb(238, 241, 243);
$color-gray-1          : rgb(226, 232, 233);
$color-gray-2          : rgb(202, 213, 216);
$color-gray-3          : rgb(190, 203, 207);
$color-gray-4          : rgb(129, 155, 161);
$color-gray-5          : rgb( 85, 101, 106);
$color-gray-6          : rgb(  5,  48,  60);
